## Created by .ignore support plugin (hsz.mobi)
## Created by .ignore support plugin (hsz.mobi)
#### Example user template template
#### Example user template
#
## IntelliJ project files
#.idea
#*.iml
#out
#gen
#*.log
#*.gz
#
#platform-commons/common-core/target/classes/
#platform-commons/common-core/target/generated-sources/
#platform-commons/common-plugin/excel-starter/target/generated-sources/
#platform-commons/orm-starter/target/classes/
#platform-commons/orm-starter/target/generated-sources/
##platform-domain/auto-domain/target/
#platform-domain/common-domain/target/
##platform-domain/issue-inspect-domain/target/generated-sources/
#platform-domain/parent-web-domain/target/
#platform-domain/student-app-domain/target/
#platform-domain/sys-domain/target/
#platform-domain/teacher-web-domain/target/
##platform-gateway/target/
#platform-mapper/auto-mapper/target/
#platform-mapper/common-mapper/target/
#platform-mapper/issue-inspect-mapper/target/generated-sources/
#platform-mapper/parent-web-mapper/target/
##platform-mapper/student-app-mapper/target/
#platform-mapper/sys-mapper/target/
#platform-mapper/teacher-web-mapper/target/
#platform-services/auto-service/auto-service-api/target/
#platform-services/auto-service/auto-service-provider/target/
#platform-services/common-service/common-service-api/target/
#platform-services/common-service/common-service-provider/target/
#platform-services/issue-inspect-service/issue-inspect-service-api/target/generated-sources/
#platform-services/issue-inspect-service/issue-inspect-service-provider/target/generated-test-sources/
#platform-services/issue-inspect-service/issue-inspect-service-provider/target/issue-inspect-service-provider.jar.original
#platform-services/parent-web-service/parent-web-service-api/target/
#platform-services/parent-web-service/parent-web-service-provider/target/
#platform-services/student-app-service/student-app-service-api/target/
##platform-services/student-app-service/student-app-service-provider/target/
#platform-services/sys-service/sys-service-api/target/
#platform-services/sys-service/sys-service-provider/target/
#platform-services/teacher-web-service/teacher-web-service-api/target/
#platform-services/teacher-web-service/teacher-web-service-provider/target/
#platform-commons/common-core/target/common-core-1.0.0-SNAPSHOT.jar
#platform-commons/common-core/target/maven-archiver/
#platform-commons/common-core/target/maven-status/
#platform-commons/common-plugin/excel-starter/target/
#platform-commons/orm-starter/target/maven-archiver/
#platform-commons/orm-starter/target/maven-status/
#platform-commons/orm-starter/target/orm-starter-1.0.0-SNAPSHOT.jar
#platform-commons/web-starter/target/
#platform-domain/issue-inspect-domain/src/
#platform-domain/issue-inspect-domain/target/
#platform-domain/pay-domain/target/
#platform-mapper/issue-inspect-mapper/src/test/
#platform-mapper/issue-inspect-mapper/target/
#platform-mapper/pay-mapper/target/
#platform-services/issue-inspect-service/issue-inspect-service-api/src/main/resources/
#platform-services/issue-inspect-service/issue-inspect-service-api/src/test/
#platform-services/issue-inspect-service/issue-inspect-service-api/target/
#platform-services/issue-inspect-service/issue-inspect-service-provider/target/
#platform-services/pay-service/pay-service-api/target/
#platform-services/pay-service/pay-service-provider/target/
#platform-services/pay-service/pay-service-provider/src/main/resources/static/parent/
#platform-services/pay-service/pay-service-provider/src/main/resources/static/student/
