<?xml version="1.0" encoding="UTF8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ershiyi.mapper.ParentMapper">
    <!--获取对比昨天提升的学习知识点数量-->
    <select id="getRiseKnow" resultType="java.lang.Integer">
        select
            ifnull(count(DISTINCT knowledgeid),0)-(select ifnull(count(DISTINCT knowledgeid),0) from common_study_record  where TO_DAYS(now())-TO_DAYS(createTime) = 1 and studenterId = #{studenterId})
        from
            common_study_record
        where
            TO_DAYS(now()) = TO_DAYS(createTime) and studenterId = #{studenterId}
    </select>
    <!--获取对比昨天提升的学习时长-->
    <select id="getRiseStudyLength" resultType="java.lang.Integer">
        select
            ifnull(sum(usetime),0)-(select ifnull(sum(usetime),0) from study_length where TO_DAYS(NOW())-TO_DAYS(starttime)=1 and studenterId = #{studenterId})
        from
            study_length
        where
            TO_DAYS(NOW()) = TO_DAYS(starttime) and studenterId = #{studenterId}
    </select>
    <!--获取对比昨天提升的做题数量-->
    <select id="getRiseQuestion" resultType="java.lang.Integer">
        select
            ifnull(count(*),0)-(select ifnull(count(*),0) from common_course_knowledge_record where TO_DAYS(NOW())-TO_DAYS(starttime)=1 and studenterId = #{studenterId})
        from
            common_course_knowledge_record
        where
            TO_DAYS(NOW()) = TO_DAYS(starttime) and studenterId = #{studenterId}
    </select>
    <select id="getWrongQuestion" resultType="com.ershiyi.entity.WrongQuestionChoice">
        select
            *
        from
            student_wrongChoice_Question
        where
            questionId = #{questionId}
        and
            studenterId = #{studenterId}
        order by id desc
        limit 1;
    </select>
    <select id="queryKnow" resultType="com.ershiyi.entity.KnowContent">
        select
           id as knowContentId,
           knowledgeContent as content,
           knowledgeName as knowContentName,
           knowledgeVideoUrl as knowledgeTextUrl
        from
            common_course_knowledge
        where
            id = #{knowId}
    </select>
    <select id="getHostCourse" resultType="com.ershiyi.entity.CoursePojo">
        select
        *
        from
        (
        select
        a.id as courseId,
        a.curriculum as courseName,
        a.author,
        a.h_picture as image,
        a.synopsis,
        a.biography,
        a.picture,
        a.subjectid,
        a.integral as score,
        (select subjectName from common_course_subject where id = a.subjectId) as subjectName,
        (select count(*) from common_student_browsing_history where courseid = a.id) as pageViews,
        (select count(*) from common_course_knowledge where courseId = a.id and isLast = 1) as knowNumber,
        (select if(count(*)>1,1,0) from common_course_purchase where courseid = a.id and studenterId = #{studenterId} and status =
        1) as isPay,
        (select if(count(*)>1,1,0) from common_collect_course where courseId=a.id and studenterId = #{studenterId} and deleted = 0
        ) as isCollection
        from
        common_course a
        where
        deleted = 0
        <if test="subjectId!=null and subjectId!='' and subjectId!=0">
            and
            subjectId = #{subjectId}
        </if> ) a
        order by a.pageViews desc
    </select>
    <select id="getCoursePOJO" resultType="com.ershiyi.entity.CoursePojo">
        select
        a.id as courseId,
        a.curriculum as courseName,
        a.author,
        a.synopsis,
        a.biography,
        a.h_picture as image,
        a.picture,
        a.subjectid,
        a.integral as score,
        (select subjectName from common_course_subject where id = a.subjectId) as subjectName,
        (select count(*) from common_student_browsing_history where courseid = a.id) as pageViews,
        (select count(*) from common_course_knowledge where courseId = a.id and isLast = 1) as knowNumber,
        (select if(count(*)>1,1,0) from common_course_purchase where courseid = a.id and studenterId = #{studenterId} and status = 1) as isPay,
        (select if(count(*)>1,1,0) from common_collect_course where courseId=a.id and studenterId =  #{studenterId} and deleted = 0) as isCollection
        from
        common_course a
        where
        deleted = 0
        <if test="subjectId!=null and subjectId!='' and subjectId!=0">
            and
            subjectId = #{subjectId}
        </if>
        <if test="isTime!=0">
            ORDER BY createdt DESC
        </if>
    </select>
    <select id="CourseInfo" resultType="com.ershiyi.entity.CoursePojo">
        select
            a.id as courseId,
            a.curriculum as courseName,
            a.author,
            a.synopsis,
            a.biography,
            a.picture,
            a.subjectid,
            a.integral as score,
            (select subjectName from common_course_subject where id = a.subjectId) as subjectName,
            (select count(*) from common_student_browsing_history where courseid = a.id) as pageViews,
            (select count(*) from common_course_knowledge where courseId = a.id and isLast = 1) as knowNumber,
            (select count(*) from common_course_purchase where courseid = a.id and studenterId = #{studenterId} and status = 1 limit 1) as isPay,
            (select count(*) from common_collect_course where courseId=a.id and studenterId =  #{studenterId} and deleted = 0 limit 1) as isCollection
        from
            common_course a
        where
            id = #{id}
        limit 1
    </select>
    <delete id="delCollectId">
        delete from
            common_collect_course
        where id in
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
