<?xml version="1.0" encoding="UTF8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ershiyi.mapper.JpushMapper">
        <select id="selectbyParentId" parameterType="com.ershiyi.dto.JpushPojo" resultType="java.lang.String">
              select uniqueCode from  common_parent_user where  parenterId =#{parenterId} and  deleted=0
        </select>

    <select id="selectbyStudenterId" parameterType="com.ershiyi.dto.JpushPojo" resultType="java.lang.String">
          select uniqueCode from  common_student_user where  studenterid =#{studenterId} and  deleted=0
    </select>

    <!--<select id="selectjpush" parameterType="com.ershiyi.domain.entity.Correct" resultType="com.ershiyi.domain.Common_Choice">-->
        <!--select  knowledgeid as knowId, choicea as optionA, choiceb as optionB, choicec as optionC, choiced as optionD, rightaws, resolving, title as question, isgb, schoolid, subjectid, questionImage, source, isRelevanceFinish, deleted, difficulty  from common_course_choice where  knowledgeid=#{knowId} GROUP BY  RAND() LIMIT  5-->
    <!--</select>-->

    <!--<select id="selectjpushknowledge" parameterType="com.ershiyi.domain.entity.Correct" resultType="com.ershiyi.domain.entity.A_KnowContent">-->
        <!--select id as knowContentId, knowledgetext as content, prologue, editionid,knowledgeName from  common_course_knowledge_content where id =#{knowId} and deleted=0-->
    <!--</select>-->
    <!--<insert id="submitjpush">-->
        <!--insert into common_Ipush_record(studenterId,thisPushDt,nextPushDt,static,plushContentId,plushFrequency,pushType,chapterId,courseId)-->
        <!--values(#{studenterId},now(),#{nextTime},0,#{knowId},0,1,#{chapterId},#{courseId})-->
    <!--</insert>-->

    <select id="questionjpush"  parameterType="com.ershiyi.dto.QuestionAndKnowledge" resultType="com.ershiyi.domain.entity.QuestionChoice">
      select   id as questionId,
                 optionA,
                  optionB,
                 optionC,
                 optionD,
                answer as correctOption,
                resolving,
                question,
                id,
                1 as type
       from  `21db_test`.common_course_choice where  id = #{plushContentId} and deleted=0  order by  rand() limit 5

    </select>
</mapper>