<?xml version="1.0" encoding="UTF8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ershiyi.mapper.CourseMapper">

    <resultMap type="com.ershiyi.dto.JHZCourseDTO" id="JHZCouseResult">
        <result property="courseId"    column="COURSEID"/>
        <result property="plandt"    column="PLANDT"/>
        <result property="splandt"    column="SPLANDT"/>
        <result property="courseName" column="curriculum"/>
        <result property="isremind"    column="ISREMIND"/>
    </resultMap>
    <resultMap type="com.ershiyi.domain.Common_Choice" id="Choice">
        <result property="knowId"    column="KNOWLEDGEID"/>
        <result property="optionA"    column="CHOICEA"/>
        <result property="optionB"    column="CHOICEB"/>
        <result property="optionC"    column="CHOICEC"/>
        <result property="optionD"    column="CHOICED"/>
        <result property="correctOption"    column="RIGHTAWS"/>
        <result property="resolving"    column="RESOLVING"/>
        <result property="isgb"    column="ISGB"/>
        <result property="schoolId"    column="schoolId"/>
        <result property="subjectId"    column="SUBJECTID"/>
    </resultMap>

    <select id="Obscure"  resultType="java.lang.Integer">
        select id from  common_course where  curriculum like #{courseName} and deleted =0 order by createdt desc
    </select>

    <select id="billboardbillboardByHOT"   resultType="int">
       select id from common_course where deleted=0 order by browse desc limit 30
    </select>
    <select id="billboardByRECOMMEND"   resultType="int">
       select courseid from  common_recommend a  left join  common_course b on a.courseid=b.id where a.ifuser=1 and a.deleted=0 and b.deleted=0 order by a.createdt  desc limit 30
    </select>
    <select id="billboardbillboardByNEWEST" resultType="int">
        select id from common_course where deleted=0 order by  createdt desc limit  30
    </select>
    <select id="billboardbillboardBySTUDYAID" resultType="int">
        select courseid from  common_studyaid a  left join  common_course b on a.courseid=b.id where a.ifuser=1 and a.deleted=0 and b.deleted=0 order by a.createdt  desc limit 30
    </select>
    <select id="chapterById" resultType="com.ershiyi.domain.Chapter">
        select id,chaptername,knowledgeid as knowId from common_course_chapter where courseId=#{courseId}  and deleted=0
    </select>
    <select id="courseByCompetitiv" resultType="int">
      select courseid from (select a.courseid,b.curriculum,b.author,b.synopsis,b.picture,b.browse,b.upvote,b.discussid,@rowNO:=@rowNO+1 AS billsort,'助学榜单' as bill from (SELECT @rowNO:=0)r , common_studyaid a  left join  common_course b on a.courseid=b.id where a.ifuser=1 and a.deleted=0 and b.deleted=0  order by a.createdt  desc limit 10 ) g
union all
select courseid,curriculum,author,synopsis,picture,browse,upvote,discussid,bill,billsort  from  (select a.courseid,b.curriculum,b.author,b.synopsis,b.picture,b.browse,b.upvote,b.discussid,(@rowNO:=@rowNO+1) AS billsort,'推荐榜单' as bill from (SELECT @rowNO:=0)r , common_recommend a   left join  common_course b on a.courseid=b.id where a.ifuser=1 and a.deleted=0 and b.deleted=0 order by a.createdt  desc limit 10) h
union all
select courseid,curriculum,author,synopsis,picture,browse,upvote,discussid,bill,billsort  from  (select id as courseid,author,curriculum,synopsis,picture,browse,upvote,discussid,(@rowNO:=@rowNO+1) AS billsort,'热门榜单' as bill from (SELECT @rowNO:=0)r , common_course where deleted=0 order by browse desc limit 10) j

    </select>
    <select id="courseById" resultType="com.ershiyi.domain.entity.CoursePojo" parameterType="int">
         call student_collect_course(#{courseId})
    </select>

    <insert id="appraiseByDiscuss" useGeneratedKeys="true"  keyProperty="id" parameterType="com.ershiyi.domain.Thumbs">
        INSERT  INTO  common_course_discuss_thumbs
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studentId != null  and studentId != ''">studenterId,</if>
            <if test="commentId != null  and commentId != ''">discussid,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="studentId != null  and studentId != ''">#{studentID},</if>
            <if test="commentId != null  and commentId != ''">#{commentId},</if>
        </trim>
    </insert>

    <update id="appraiseByDiscussStatus">
          UPDATE  common_course_discuss_thumbs SET deleted = #{deleted} WHERE id =#{thumbId}
    </update>
    <select id="courseByCollectIf" resultType="com.ershiyi.domain.Collect_Course">
       select id as collectId from common_collect_course where  deleted=0 and  studenterid=#{studenterId} and  courseid=#{courseId}
    </select>

    <select id="courseByNotice" resultType="com.ershiyi.domain.Notice">
          select noticecontent,noticetypename,createdt  from common_course_notice where  courseid =#{courseId} and  deleted=0
    </select>

    <select id="courseByKnowledgeAll" resultType="com.ershiyi.domain.Knowledge" parameterType="java.lang.String">
              select id as knowId,knowledgecontent as content from common_course_knowledge where id=#{id}
    </select>
    <select id="searchByBusCourseIds" resultType="int" parameterType="com.ershiyi.domain.Common_Search">
        select courseid from sys_user_integral_record where studenterid =#{studenterId} and keyword='PURCHASECOURSE'  and status =1
    </select>
    <select id="searchCourse" resultType="com.ershiyi.domain.entity.CoursePojo" parameterType="int">
           call student_collect_course (#{courseId})
    </select>

    <select id="LZMDKnowledge" parameterType="com.ershiyi.domain.Common_Search"  resultType="com.ershiyi.domain.Common_Return">
        select count(courseId) as knowIdNumber,courseId,courseName,subjectId,picture from (select id as knowId,courseId,(select curriculum  from common_course where id =courseId) as courseName,(select subjectid from common_course where id =courseId) as subjectId,
        (select picture from common_course where id =courseId) as picture   from common_course_knowledge  where courseId in
        (select courseid from purchase_course_info where studenterid=#{studenterId} and grade = #{grade}))  as ko group by courseName
</select>

    <select id="CountKnowledge" parameterType="com.ershiyi.domain.Common_Search"  resultType="com.ershiyi.domain.Common_Return">
          select count(knowId) AS knowIdNumber,courseId,courseName from ( select distinct a.knowledgeid as knowId,b.curriculum as courseName,a.courseid from  common_lzmd_studyrate a
          LEFT JOIN common_course b on  a.courseid =b.id  where  a.studenterid =#{studenterId}  and a.isright=1)  as ko group by  courseid
    </select>


    <insert id="ZSubmit" parameterType="com.ershiyi.domain.Common_StudyrateBy" >
        insert into common_lzmd_studyrate(knowledgeid, startdt, enddt, userdt, createdt, answer, fillAnswer, questiontype, courseid, studenterId, knowledgeidiscompleted, questionId, isright)
values (#{knowId},#{startdt},#{enddt},#{userdt},now(),#{answer},#{fillAnswer},#{questionType},#{courseId},#{studenterId},#{knowledgeidiscompleted},#{questionId},#{isright})
    </insert>
    <select id="knowledgeMessage" resultType="java.lang.String" parameterType="java.lang.String">
        select id from common_course_knowledge where courseId=#{courseId} and isdelete=0
    </select>
    <select id="knowledgeStudyMessage" resultType="java.lang.String" parameterType="com.ershiyi.domain.LZMDType">
        select distinct a.knowledgeid as knowId from  common_lzmd_studyrate a  LEFT JOIN common_course b on  a.courseid =b.id  where  a.studenterid =#{studenterId}  and a.isright=1 and courseid=#{courseId}
    </select>
    <select id="toquestion" resultType="java.lang.String" parameterType="java.lang.String">
       SELECT  questionId  from  common_knowledge_question where courseId=#{courseId} and  knowledgeId =#{knowledgeId} AND  questionType=1 and  isDelete = 0  order by  isRandom  limit 2
    </select>
    <select id="getWrongQuestionId" resultType="java.lang.Integer">
        select
        DISTINCT questionId
        from
        common_course_wrongquestions
        where
        deleted = 0
        and
            studenterId = #{studenterId}
        and
            courseId in (select id from common_course where grade = #{grade})
        <if test="subjectId!=0">
            and courseId in (select id from common_course where subjectId = #{subjectId})
        </if>
        order by
        createdt desc
    </select>
    <select id="queryChoiceQuestion" resultType="com.ershiyi.domain.entity.WrongQuestionChoice">
        select
            *
        from
            student_wrongChoice_Question
        where
            questionId = #{questionId}
        and
            studenterId = #{studentId}
        order by
            id desc
            limit 1;
    </select>
    <delete id="delCollect">
        delete from
        common_collect_course
        where id in
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
