<?xml version="1.0" encoding="UTF8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ershiyi.mapper.KnowledgeMapper">
    <select id="getKnowList" parameterType="java.util.List" resultType="com.ershiyi.domain.entity.KnowContent">
        <foreach collection="list" index="index" item="item" separator="UNION ALL">
            select * from know_cont where knowContentId = #{item}
        </foreach>
    </select>
    <insert id="insertQuestionRelated">
        insert into
            21db_test.common_knowledge_question(
                knowledgeId,
                knowledgeName,
                questionId,
                questionType,
                isRandom
        ) values
        <foreach collection="list" item="item" separator=",">
            (
                #{item},
                (select knowledgeName from 21db_test.common_course_knowledge where id = #{item}),
                #{questionId},
                #{type},
                0
            )
        </foreach>
    </insert>
</mapper>
