<?xml version="1.0" encoding="UTF8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ershiyi.mapper.PlanCourseMapper">

    <resultMap type="com.ershiyi.dto.PlanCourseDTO" id="PlanCouseResult">
        <result property="courseid"    column="COURSEID"/>
        <result property="studenterid"    column="STUDENTERID"/>
        <result property="isclaim"    column="ISCLAIM"/>
        <result property="plandt"    column="PLANDT"/>
        <result property="splandt"    column="SPLANDT"/>
        <result property="subjectname"    column="SUBJECTNAME"/>
        <result property="isremind"    column="ISREMIND"/>
    </resultMap>

    <select id="plancourse" parameterType="com.ershiyi.dto.PlanCourseDTO" resultType="com.ershiyi.dto.PlanCourseDTO">
        select c.*,d.subjectname from  (select a.*,b.curriculum,b.id,b.subjectid from
         (select  courseid,isremind,plandt,splandt from  common_course_plan where studenterid=#{studenterid} and  plandt={plandt} and deleted=0) a LEFT JOIN  common_course b on a.courseid =b.id where  b.deleted =0)  c left join  common_course_subject d on c.subjectid =d.id
    </select>



</mapper>